html {
  font-size: 16px;
  font-family: Tahoma, Arial, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", sans-serif;
}
.row {
  margin: 0;
}
.scrolly-side {
  position: relative;
  margin: 0;
}
.scrolly-side .scrolly-sticky {
  height: calc(100vh - 64px);
  position: sticky;
  top: 64px;
  transform: translateZ(0);
}
.scrolly-overlay {
  position: relative;
}
.scrolly-overlay .scrolly-sticky {
  -webkit-transform: translateZ(0);
  height: calc(100vh - 64px);
  position: -webkit-sticky;
  position: sticky;
  top: 64px;
  transform: translateZ(0);
}
.scrolly-overlay .scrolly-sticky.interactive {
  z-index: 98;
}

.scrolly-overlay .scrolly-text {
  position: relative;
  z-index: 2;
  max-width: 45rem;
}
.scrolly-overlay .scrolly-text-side-bar {
  /* position: relative;
  z-index: 2;
  max-width: 45rem; */
  margin-left: 2%;
}
.scrolly-overlay .scrolly-text .step {
  height: calc(100vh - 64px);
}
.scrolly-side .scrolly-text .step {
  height: calc(100vh - 64px);
  z-index: 2;
  margin: 0;
}
.scrolly-overlay .scrolly-text .step .text-block {
  background-color: #444;
  border-radius: 4px;
  opacity: 0.9;
  /* z-index: 3; */
}
.scrolly-side .scrolly-text .step .text-block {
  background-color: #444;
  border-radius: 4px;
}
/* .scrolly-overlay .scrolly-text-side-bar .step .text-block {
  background-color: #444;
  border-radius: 4px;
  opacity: 0.9;
  z-index: 3;
} */
.text-block .container {
  padding: 25px 45px;
}

.scrolly-overlay .scrolly-sticky .map-container {
  height: 100%;
  position: relative;
  z-index: 1;
}

.font-secondary {
  font-family: "Roboto", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    sans-serif !important;
}
